aiofiles==0.7.0
alabaster==0.7.12
ansible==5.2.0
ansible-core==2.12.1
Arpeggio==1.10.2
arrow==1.2.1
asynctest==0.13.0
attrs==21.4.0
azure-devops==6.0.0b4
Babel==2.9.1
behave==1.2.6
binaryornot==0.4.4
black==22.3.0
bleach==4.1.0
build_harness==1.0.1
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==2.0.10
click==8.1.2
colorama==0.4.4
commonmark==0.9.1
cookiecutter==1.7.3
coverage==6.2
cryptography==36.0.1
deepmerge==1.0.1
distlib==0.3.4
docutils==0.16
filelock==3.4.2
flake8==4.0.1
flake8-annotations==2.8.0
flit==3.2.0
flit_core==3.6.0
gitdb==4.0.9
GitPython==3.1.26
identify==2.4.4
idna==3.3
imagesize==1.3.0
importlib-metadata==4.10.1
iniconfig==1.1.1
isodate==0.6.1
isort==5.10.1
Jinja2==3.1.1
jinja2-time==0.2.0
keyring==23.5.0
MarkupSafe==2.0.1
mccabe==0.6.1
msrest==0.6.21
mypy==0.942
mypy-extensions==0.4.3
nodeenv==1.6.0
oauthlib==3.1.1
packaging==21.3
parse==1.19.0
parse-type==0.5.2
parver==0.3.1
pathspec==0.9.0
pip==22.0.4
pkginfo==1.8.2
platformdirs==2.4.1
pluggy==1.0.0
poyo==0.5.0
pre-commit==2.17.0
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
pydocstyle==6.1.1
pyflakes==2.4.0
Pygments==2.11.2
pyjson5==1.5.3
pyparsing==3.0.6
pytest==7.1.1
pytest-asyncio==0.18.3
pytest-cov==3.0.0
pytest-mock==3.7.0
python-dateutil==2.8.2
python-slugify==5.0.2
pytz==2021.3
PyYAML==6.0
readme-renderer==32.0
requests==2.27.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
resolvelib==0.5.4
rfc3986==2.0.0
rich==12.1.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
SecretStorage==3.3.1
setuptools==44.1.1
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
text-unidecode==1.3
toml==0.10.2
tomli==1.2.3
tomli_w==1.0.0
tqdm==4.62.3
twine==4.0.0
types-aiofiles==0.1.9
typing-extensions==4.0.1
urllib3==1.26.8
virtualenv==20.13.0
webencodings==0.5.1
wheel==0.37.1
zipp==3.7.0
